.problem_request{
  display: flex;
  width: 800px;
  height: 50px;
  position: absolute;
  top: 500px;
  left: 600px;
  font-size: 30px;
} 
 .problem_start {
  background-color: #cfcfd2;
  color: black;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.3s;
  margin-left: 5px;
}
.problem_restart {
  background-color: #cfcfd2;
  color: black;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.3s;
  margin-left: 5px;
}
.problem_start:hover {
  background-color: #787575;
}
.problem_restart:hover {
  background-color: #787575;
}
.problem_review{
  position: absolute;
  top: 600px;
  left: 700px;
  display: flex;
}
.green{
    display: flex;
}
.yellow{
    display: flex;
}
.red{
    display: flex;
}
.green_review{
  width: 80px;
  height: 40px;
  background: greenyellow;/*背景色*/
  color: black;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.3s;
  margin-left: 5px;
}
.yellow_review{
  width: 80px;
  height: 40px;
  background: yellow;/*背景色*/
  color: black;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.3s;
  margin-left: 5px;
}
.red_review{
  width: 80px;
  height: 40px;
  background: red;/*背景色*/
  color: black;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.3s;
  margin-left: 5px;
}
.green_review:hover {
  background-color: #7bd7ff;
}
.yellow_review:hover {
  background-color: #7bd7ff;
}
.red_review:hover {
  background-color: #7bd7ff;
}