/* =========================================
   Light Theme Colors
========================================= */

/* Body */
body {
    background-color: #ffffff;
    color: black;
}

/* Navigation link */
li a {
    background-color: #ffffff;
    color: #464646;
}

li a:hover {
    background-color: #f2f2f2;
    color: #000000;
}

/* Nav background sections */
#nav-link,
#nav-pills {
    background-color: black;
}

/* Footer links */
.footerlinks a {
    color: #a2a0a0;
}

.footerlinks a:hover {
    color: #000000;
}

/* Logout button */
.logout-btn {
    background-color: #cfcfd2;
    color: white;
}

.logout-btn:hover {
    background-color: #787575;
}

/* ハンバーガーのバー色 */
.hamburger span {
    background-color: #333;
}

/* メニュー背景色 */
.menu {
    background-color: #fafafa;
}

/* メニューリンク文字色 */
.menu a {
    color: #333;
}
