body {
    float: left;
}
main {
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.btn-toggle {
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    background-color: transparent;
}
.btn-toggle::before {
    width: 1.25em;
    content: "";
    transform-origin: 0.5em 50%;
    transition: 0.35s;
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.scrollarea {
    overflow-y: auto;
}

#side {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100px;
}
