.login-body {
    background-color: #f8f9fa;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-container {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}
