<!-- 
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>title</title>
  <link rel="stylesheet" href="../css/sidebars.css" />
</head>
<body>
  <div class="hamburger" id="hamburger">
    &#9776;
  </div>
  <div class="sidebar" id="sidebar">
    <ul>
      <li><a href="mypage.php">マイページ</a></li>
      <li><a href="question.php">問題</a></li>
      <li><a href="#">書籍検索</a></li>
      <li><a href="#">掲示板</a></li>
    </ul>
  </div>

  <script src="../js/sidebars.js"></script>
</body>
</html> -->
